<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.gbmoro.diiin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="diiin.DindinApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="diiin.ui.main_screen.MainActivity"
            android:configChanges="orientation|screenSize|screenLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="diiin.ui.insert_expense_screen.InsertExpenseActivity"
            android:label="@string/title_newexpense">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="diiin.ui.main_screen.MainActivity" />
        </activity>
        <activity
            android:name="diiin.ui.insert_incoming_screen.InsertIncomingActivity"
            android:label="@string/title_newincoming">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="diiin.ui.main_screen.MainActivity" />
        </activity>
        <activity android:name="diiin.ui.settings_screen.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="diiin.ui.main_screen.MainActivity" />
        </activity>
        <activity android:name="diiin.ui.insert_expense_type_screen.InsertExpenseTypeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="diiin.ui.settings_screen.SettingsActivity" />
        </activity>
    </application>

</manifest>